@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(225, 235, 245, 0.75);
    color: rgba(4, 14, 20, 1);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(4, 14, 20, 1);
    color: rgba(225, 235, 245, 1)
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
}

button {
    transition: 0.5s;
}

button:active {
    transform: scale(0.9);
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

.page {
    padding-top: 5.5rem;
}