@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media only screen and (max-width: 900px) {

    .home-page .top-content .contents p{
        font-size: 2.75rem !important;
    }

    .home-page .top-content .contents {
        width: 70% !important;
    }

    .home-page .img-container {
        margin: 0 10% 0 10% !important;
    }

    .home-page .img-container img {
        width: 14rem !important;
    }
}

@media only screen and (max-width: 450px) {

    .home-page .top-content .contents p{
        font-size: 1.5rem !important;
    }

    .home-page .top-content .contents {
        width: 80% !important;
    }

    .home-page .img-container{
        margin: 0 10% 0 10% !important;
    }

    .home-page .img-container img {
        width: 7rem !important;
    }
}

.home-page .top-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
}

.home-page .top-content .contents {
    width: 50%;
    text-align: center;
}

.home-page .top-content .contents p{
    font-family: 'pacifico';
    font-weight: 900;
    font-size: 4rem;
}

.home-page .img-container {
    width: 50%;
}

.home-page .img-container img {
    width: 18rem;
    margin-left: 20%;
    box-shadow: rgba(225, 235, 245, 0.5) 0px 13px 27px -5px, rgba(225, 235, 245, 0.5) 0px 8px 16px -8px;
    border-radius: 0.45rem;
    transform: rotate(2deg);
    transition: 1s;
}

.home-page .img-container img:hover {
    transform: rotate(-2deg);
}